*,*::after,*::befor{
  box-sizing: border-box;
}
:root{
  --cell-size:80px;
}
body{
  margin: 0;
  padding: 0;
}
.board{
/*   width: 210px;
display: grid;
grid-template-columns:repeat(3,1fr);
justify-content: center; */
height: 100vh;
display: grid;
grid-template-columns: repeat(3, auto);
justify-content:center;
align-content: center;

}
.cell{
  width:var(--cell-size) ;
  height:var(--cell-size);
  border:  1px solid black;
  position: relative;
}
.cell:is(:first-child,:nth-child(2),:nth-child(3)){
  border-top: none;
}

.cell:nth-child(3n+1){
  border-left: none;
}

.cell:nth-child(3n+3){
  border-right: none;
}

.cell:is(:last-child,:nth-child(8),:nth-child(7)){
  border-bottom: none;
}

.cell.x::before,.cell.x::after{
  content: '';
  background-color: black;
  width:calc(var(--cell-size)*.15 );
  height:calc(var(--cell-size)*.9);
  position: absolute;
  left: 50%;
  top: 50%;
/*   transform:translateX(-50%); */
}

.cell.x::before{
  transform:translate(-50%,-50%) rotate(45deg) ;
}
.cell.x::after{
  transform: translate(-50%,-50%) rotate(-45deg)  ;
}

.cell.o::before{
  content: '';
  background-color: black;
  width: calc(var(--cell-size)*0.9);
  height: calc(var(--cell-size)*0.9);
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}
.cell.o::after{
  content: '';
  background-color: white;
  width: calc(var(--cell-size)*0.65);
  height: calc(var(--cell-size)*0.65);
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  border-radius: 50%;

}